swagger: '2.0'
info:
  title: "MyMechanicShop API"
  description: "This is the API documentation for MyMechanicShop."
  version: "1.0.0"
host: "127.0.0.1:5000"
schemes:
  - "http"
consumes:
  - "application/json"
produces:
  - "application/json"

securityDefinitions:
  bearerAuth
